table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
    font-family: "Roboto", sans-serif;
}

th,
td {
    padding: 10px;
    text-align: left;
    font-family: "Roboto", sans-serif;

}

th {
    font-weight: bold;
    font-family: "Roboto", sans-serif;

}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #eaeaea;
}

/* style.css */
.action-buttons-container {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
  }
  
  .action-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .action-button svg {
    fill: #007bff; /* Cor do ícone */
    width: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 24px;
  }
  